
body {
    background-color: #282828;
    color:#eddbb2;
}

.button {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #000;
    background: #eee
}

#login-screen{
    text-align:center;
}

.overview_won {
    justify-content: space-between; 
    display: flex;
    width: 300px;
    height: 60px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: green;
}

.overview_lost {
    justify-content: space-between; 
    display: flex;
    width: 300px;
    height: 60px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: red;
}
